
<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="assets/user.jpg" alt="Nhat Nguyen">
					<h1>Hi, I am Nhat!</h1>
					<p>Hello everybody. I'm Nhat Nguyen, 25 years old and living in Vietnamese. <br>
					I am a Tester, Mobile Developer and Full Stack Web Developer also.<br>
					<p>This is my personal blog for sharing something funny, hehe.</p>
					</p>
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->

	<div class="container pt">
		<div class="row mt centered">	
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-education"></span>
				<p>Graduated from Post and Telecommunication Institute of Technology as a Information System Engineer.</p>
			</div>
			
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-briefcase"></span>
				<p>Working at a Japanese company as a Tester .</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-fire"></span>
				<p>Passion for Programming Languages and Mordern Technology.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-globe"></span>
				<p>Using Vietnamese and English.</p>
			</div>
		</div><!-- /row -->
		
		<div class="row mt">
			<div class="col-lg-6">
				<h4>A quote I Loved</h4>
				<p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it. </p>
				<p style="color: #00796B">Steve Job</p>
			</div><!-- /colg-lg-6 -->
			
			<div class="col-lg-6">
				<h4>THE SKILLS</h4>
				Automated Testing
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>

				Android Native App Development
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
						<span class="sr-only">80% Complete</span>
					</div>
				</div>
				
				HTML + CSS
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span class="sr-only">95% Complete</span>
					</div>
				</div>
				Ruby on Rails
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
						<span class="sr-only">95% Complete</span>
					</div>
				</div>
				Python- Django
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
						<span class="sr-only">95% Complete</span>
					</div>
				</div>

			</div><!-- /col-lg-6 -->
		</div><!-- /row -->
	</div><!-- /container -->

	